.mobile-calendar {
  .simcal-calendar-head {
    padding: 0.7142857143rem .5em .5em .7em;
    background: $color__blue-medium;
    text-transform: uppercase;

    .simcal-current h3 {
      color: white;
      font-size: 1.42857rem;
      font-weight: 500;
    }

    .simcal-nav-button {
      color: #FFF;
      font-size: 2rem;
    }
  }
  
  .simcal-day-label {
    display: none;
  }

  .simcal-event-start-date {
    display: none;

    &:after {
      display: none;
    }
  }

  .simcal-event-start:before {
    padding-right: 0.5rem;
    content: "\f017";
    font-family: "FontAwesome";
  }

  .simcal-event-address:before {
    padding-right: 0.5rem;
    content: "\f041";
    font-family: "FontAwesome";
  }

}

.desktop-calendar {

  .post-edit-link {
    display: none;
  }

  @include tablet {
    display: flex;
  }

  .simcal-day-label {
    background: #4263AB!important;
    color: white!important;
  }

  .simcal-day-has-events {
    .simcal-day-label {
      background: #4263AB!important;
      color: #FFF!important;
    }
    .simcal-event-title {
      font-size: 0.8571428571rem!important;
    }
  }

  .simcal-present {
    div {
      border: 1px solid $color__blue-dark!important;
    }
    .simcal-day-label {
      background-color: $color__blue-dark!important;
    }
  }

}

.calendar-tab-spacer {
  @include tablet {
    margin-left: 48px;
  }
  @include desktop {
    margin-left: 0px;
  }
}