.mobile-calendar {
  .simcal-day-label {
    border-bottom: 1px solid $color__blue-dark!important;
    color: white!important;
  }

  .simcal-event-start:before {
    content: "\f017";
    font-family: "FontAwesome";
  }

}

.desktop-calendar {
  @include desktop {
    display: flex;
  }

  .simcal-day-label {
    background: #4263AB!important;
    color: white!important;
  }

  .simcal-day-has-events {
    .simcal-day-label {
      background-color: $color__blue-dark!important;
      color: #FFF!important;
    }
    .simcal-event-title {
      font-size: 0.8571428571rem!important;
    }
  }

  .simcal-present {
    div {
      border: 1px solid $color__yellow!important;
    }
    .simcal-day-label {
      background: $color__yellow!important;
    }
  }
}