/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
// Note: Styles that span multiple pages, and home page styles.

// To center the content on the page
.page-id-37, .page-id-76, .page-id-171, .page-id-99 {
  section {
    display: flex;
    align-items: center;
    flex-direction: column
  }
}

// Hidden on mobile view
.hidden-mobile {
	display: none;

	@include tablet {
		display: initial;
	}
}

// Hidden on desktop view

.hidden-desktop {
	@include desktop {
		display: none;
	}
}
.hidden-tablet {
  display:initial;

  @include tablet{
    display:none;
  }
  @include desktop{
    display:initial;
  }
}
 //visible on tablet only
.tablet-only { 
  display:none;

    @include tablet{
    display: initial;
  }

    @include desktop {
    display: none;
  }
}
.desktop-only{
  display:none;
  @include desktop{
    display:initial;
  }
}

.display-tablet-desktop{
  @include tablet {
    display: initial;
  }
  @include desktop {
    display: initial;
  }
}

.mobile-only{
  display:initial;
  @include tablet{
    display:none;
  }
}


.capitalize {
	text-transform: uppercase;
}

/* Posts and pages */

.content-wrapper {
	width: 85%;

	@include desktop {
		width: 100%;
    padding: 0 10% 0 17.428571429rem;
	}
}

.section-heading {
	width: 100%;
	display: flex;
  justify-content: center;

	h2 {
		margin-top: 50px;
		width: 85%;

		@include desktop {
			width: 100%;
			padding-left: 17.428571429rem;
		}
	}
}


/* All pages */
.header-wrapper{
  height: 4.2142857143rem;
  background-image: none;
  background-color:$color__heading-blue;
  display: flex;
  align-items: center;
  @include tablet{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    h1{
      margin-bottom:0;
      padding-left: 48px;
      width: 100%;
      font-weight: 600;
    }
    p{
      padding-left: 48px;
      width: 100%;
    }
  }
  @include desktop {
    height: 25rem;
    h1 {
      padding-left: 8.7142857143rem;;      
    }
    p {
      padding-left: 8.7142857143rem;;            
    }
  }
}

.nyc{
  text-align: right;
  h2{
		margin:0px;
		text-align: right;
	}
  p{
    margin-left:50px;
    text-align: right;
  }
  a{
    text-align: right;
  }
}

.about, .nyc, .programs{
  display: flex;
  justify-content: center;

  .content-wrapper{
    padding-top: 4.9285714286rem;
    z-index: 999;
  }
  h2{
		margin:0px;
    color: #FFF;
    text-transform: uppercase;
  }
  p{
    color:white;
  }

  @include desktop{
    p{
      font-size: 1.1428571429rem;
    }
  }
}

.programs{
	.content-wrapper{
		h2{
			margin: 0;
		 }
     h3{
       font-family:$font__main;
    }
  }
}

@include desktop{
  .about, .programs{
    .content-wrapper {
      padding: 17.785714286rem 24.285714286rem 0 8.7142857143rem;
    }
  }

  .nyc{
    .content-wrapper{
      padding: 17.785714286rem 8.7142857143rem 0 24.285714286rem;
    }
  }
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Front Page */
.homepage-links {
  text-decoration: none;

  h3 {
    text-transform: uppercase;
    color: white;
    @include tablet {
      padding: 1rem 2.5rem;
      display: inline-block;
      background: $color__red-medium;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
      font-weight: 400;
      font-size: 1.2857142857rem;
      &:hover{
        background: $color__red-dark;
      }
    }
  }

  .fa-angle-right {
    font-weight: bold;
    font-size: 1.25rem;
    
    @include desktop{
      display: none;
    }
  }
}

#sb_instagram {
  margin-right:0;
  @include desktop{
    margin: 0 auto;
  }
}

#front-page-slider-header {
  margin-top: 5rem;
  @include desktop {
    margin-top: 0;
  }
}

.anchor {
  position: absolute;
  top: -49px;
}
