/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

// To center the content on the page
.page-id-37, .page-id-76, .page-id-171 {
  section {
    display: flex;
    align-items: center;
    flex-direction: column
  }
}

/* Posts and pages */

.content-wrapper {
	width: 85%;	
}

.section-heading {
	width: 100%;
	display: flex;
  justify-content: center;

	h2 {
		width: 85%;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
