.site-footer {

  .site-info {
    position: relative;
    display: flex;
    align-items: center;
    background: $color__blue-medium;
    color: #FFF;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    .sign-up-btn {
      text-transform: uppercase;
    }
  }

  .newsletter-sign-up {
    order: 1;
    width: 100%;
    text-align: center;

    // displays subscription form on mobile
    .display-form { 
      position: absolute;
      height: 100%;
      width: 100%;
    }

    	// button to close subscription form
    .close-form {
      width: 100%;
      background-color: #FFF;
      color: $color__blue-dark;
      text-align: right;

      .fa-times {
        padding-right: 1rem;
      }
    }

  }

  .social-links {
    order: 3;

    @include desktop {
      order: 2;
    }
  }

  .contact-us {
    order: 2;

    @include desktop {
      order: 3;
    }
  }

}