footer{
  min-width:320px;
  max-height:300px;
  position: relative;
  display: flex;
  align-content: stretch;
  background: $color__blue-medium;
  color: #FFF;
  flex-direction: column;
  padding: 0rem;
  margin:0;
  width:100%;
  text-align:center;
  @include desktop{
    background-color:$color__background-body;
    display: flex;
    width:100%;
    height:500px;
    h4{
    color:$color__blue-dark;
    font-family:$font__main;
    font-weight: normal;
    margin:0;
    }
    .footer-flex{
      padding:20px;
      min-width: 400px;
      display: flex;
      align-items: center;
      flex-flow: column 1 1;
      flex-wrap:nowrap;
      &.social-links{
        justify-content:stretch;
        align-items:left;
      }
    }
  }
//section 1 of footer
  .newsletter-sign-up {
    order: 1;
    width: 100%;
    text-align: center;
    display:flex;
    justify-content:center;
    .subscription-form{
      width:100%;
    }
      button.sign-up-btn {
      width:230px;
      height:50px;
      margin:15px 0px;

      @include desktop {
        display: none;
      }

      h4{
      font-size: 1rem;
      font-family: $font__heading;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      justify-content:center;
      align-items:center;
      margin:0;
      }
    }
    @include desktop{
    text-align:left;
    width: 36.3%;
    .subscription-form{
      height:100%;
      display:flex;
      justify-content: center;
      .wpcf7-list-item{
        margin:0;
      }
      .wpcf7-form {
        align-items: left;
        width:290px;
        p{
          width:100%;
          margin:1rem 0;
        }
      }
      input[type=email]{
        width: 100%;
        height:50px;
        position:relative;
        }
        ::placeholder{
          padding-left:50px;
        }
        .email-field::after{
          content:'\f003';
          font-family:'FontAwesome';
          font-size:18px;
          position:absolute;
          top:0;
          left:10px;
          color: #4263AB;
        }
      }
      input[type=checkbox]{
        transform: scale(2,2);
        width:20px;
        }
      input[type=submit]{
        display: flex;
        justify-content: center;
        width:120px;
        height:40px;
        text-transform:uppercase;
        p{
          margin:0;
          padding:0;
          }
        }
      }
    .close-form {
      background-color: #fff;
      color: $color__blue-dark;
      text-align: right;
      position: absolute;
      top:0;
      right:0;
      @include desktop{
        visibility:hidden;
        }
    .fa-times {
      padding-right: 1rem;
      color:$color__blue-dark;
        }
      }// close .close-form
    } // close .subscription-form
    @include desktop{
      text-align:left;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap:nowrap;
      } // close desktop
  } //close newsletter sign nav-up:
//section 2 of footer
  .social-links {
    order: 3;
    display: flex;
    justify-content:center;
    a{
      color:#FFF;
      padding: 0 1.2rem;
      color:#FFF;
      font-size:3.5rem;
    }
    @include desktop{
    border-left: 2px solid $color__blue-dark;
    border-right:2px solid $color__blue-dark;
    .social-media-links-wrapper {
      display: flex;
      padding-top:2rem;
      }
      a{
      display:block;
      font-size:4rem;
      color:$color__blue-dark;
      order:2;
      height: 100px;
      }
    }
  }
  //Section 3 of footer
  .contact-us {
    order: 2;
    flex-wrap:wrap;
    p{
      color:#FFF;
      padding: 0;
      margin: 0;
      font-family:$font__main;
      font-style: normal;
      font-weight: normal;
      font-size:$heading__h4;
      }
      @include desktop {
      order: 3;
      display: flex;
      flex-direction: column;
      text-align:left;
      justify-content: flex-start;
      width: 34.3%;
      h4.hidden-mobile{
      width:100%;
      margin:0;
      }
      .contact-details{
        width:100%;
        padding: 1rem 0;
        text-align: left;
        a, p{
        order: 3;
        color:black;
        } //closing p
      } //closing include desktop
    } // closing contact us
  }

