/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Subscription Form (in footer) */

.ctct-form-wrapper{
	height:160px;
}
.ctct-form-field-submit{
	display:flex;
	justify-content:center;
	min-width:320px;
}
div.ctct-disclosure {
	display: none !important;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $form__blue-border;
	border-radius: $form__border-radius;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	background: $color__blue-dark;
	color: #FFF;
	width:130px;
	height:50px;

	&:hover {
		border-color: #ccc #bbb #aaa;
	}
	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="checkbox"],
textarea {
	color: $color__grey-dark;
	border: $form__blue-border;
	border-radius: $form__border-radius;
	width:300px;
	height:40px;
	&:focus {
		color: #111;
	}
}
 input[type=email]{
	width: 70%;
	height:50px;
	position:relative;
	padding-left:50px;
	@include desktop{
	width:100%;
		}
	}
	::placeholder{
		padding-left:10px;
		color:black;
		}
	i.fa.fa-times::before{
		font-size:20px;
		padding:15px;
	}
.ctct-form-wrapper input[type="text"],
.ctct-form-wrapper input[type="email"],
.ctct-form-wrapper input[type="password"],
.ctct-form-wrapper input[type="tel"],
.ctct-form-wrapper input[type="number"]{
    background:  url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Envelope_font_awesome.svg/512px-Envelope_font_awesome.svg.png) no-repeat;
    background-position: 8px 50%;
    background-size: 24px;
    border-color: form__blue-border;
    padding-left: 40px;
}

input[type=checkbox]{
	transform: scale(2,2);
	width:20px;
	}

.ctct-input-container{
	display:flex;
	justify-content:center;
	align-items:center;
}
.ctct-form-wrapper .ctct-input-container label {
	color: black;
	font-family:'worksans';
	font-size:1rem;
	padding-left:10px;
}