/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Subscription Form (in footer) */

.wpcf7-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFF;
	color: $color__grey-dark;
}

div.wpcf7-response-output, div.wpcf7-validation-errors {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

// form style if submission is invalid
input[aria-invalid="true"] {
	border-color: red;
	background-color: rgba(153,0,0,0.3);
}

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $form__blue-border;
	border-radius: $form__border-radius;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	background: $color__blue-dark;
	color: #FFF;
	@include font-size(1);
	line-height: 1;
	padding: .6rem 1rem .4rem;

	&:hover {
		border-color: #ccc #bbb #aaa;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="checkbox"],
textarea {
	color: $color__grey-dark;
	border: $form__blue-border;
	border-radius: $form__border-radius;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
