/* Get Involved page */

// style for main text
.donation p {
  @include desktop {
    font-family: $font__heading;
    font-size: 1.7142857143rem;
    line-height: 2.5714285714rem;
  }
}

.donation-registration {
  height: 25rem;
  width: 100%;

	p {
		margin: 12.5rem auto;
		color:white;
    line-height: 2.5714285714rem;

    @include desktop {
      margin: 0;
      padding-left: 52.428571429rem;
      padding-top: 4rem;
    }
    
	}
}

.donation-call {
  width: 100%;
  padding: 1rem;
  display: flex;

  justify-content: center;
  background-color: $color__red-dark;
  color: #FFF;
  text-align: center;

  @include desktop {
    padding: 4.2857142857rem 0;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    @include desktop {
      padding: 0 8.6428571429rem 0 17.428571429rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  h3 {
    margin: 1rem 0;
    font-weight: 400;
    color: #FFF;

    @include desktop {
      font-size: 2.5714285714rem;
    }
  }

  a {
    text-decoration: none;
  }

  .donate-button {
    height: 3.5714285714rem;
    margin: 1rem 0;
    padding: 1rem 3rem;

    background-color: $color__red-medium;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    font-weight: normal;

    &:hover {
      background-color: $color__red-dark;
    }

    @include desktop {
      padding: 1rem 1.5rem 3.1rem 1.5rem;
      font-size: 1.5714285714rem;
    }
  }

}

.opportunities {
  @include desktop {
    margin-top: 5.3571428571rem;
  }

  p {
    font-size: 1.4285714286rem;
    line-height: 2.2857142857rem;
  }
}

.employment-list-container {
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1.4285714286rem;
  line-height: 2.2857142857rem;
}

.bold-subheading {
  font-weight: 600;
}

.important-note-paragraph {
  margin: 3.5714285714rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
  background-color: $color__blue-light;
  box-shadow: 1px 2px 5px 0;
  color: white;

  .fa-info {
    flex-basis: 32%;
  }

  p {
    margin: 0;
    font-size: 1.1428571429rem;
  }
}

.opportunity-list {
  padding: 0;
  margin: 0 0 1rem 0;
  list-style: none;

  @include desktop {
    padding: $content-wrapper-desktop;
  }
}

.single-opportunity {
  display: flex;
  border-top: 1px solid $color__blue-medium;
  justify-content: space-between;
  padding: 0 0.2rem;

  @include desktop {
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  h3 {
    flex-basis: 82%; // value to change once link text is resolved
    font-family: $font__main;
    font-size: 1rem;
    font-weight: 600;

    @include desktop {
      margin: 0;
      font-size: 1.7142857143rem;
    }
  }

  p {
    margin: 0;
    font-size: 1.4285714286rem;
  }

  a {
    display: flex;
    align-items: center;
    flex-basis: 18%;
    justify-content: flex-end;
    text-decoration: none;

    .fa-angle-right {
      font-weight: 900;
      font-size: 2rem;
      color: $color__blue-medium;
    }

    @include desktop {
     font-size: 1.4285714286rem;
    }
  }
}