/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/* Captions */

.wp-caption {
	margin-bottom: $base__space-unit;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075rem 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/* Galleries*/

.gallery {
	margin-bottom: $base__space-unit;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}



.success-image{
	width:38vw;
	height:38vw;
	border-radius: 50%;
	@include desktop{
		border-radius:50%;
		height:250px;
		width:250px;
	}
}
.sbi_photo{
	border-radius: 10%;
}


.about, .nyc, .programs{
  background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	height:350px;
@include desktop{
	height:700px;
	 }
}

.impact-polygon{
  -webkit-clip-path: polygon( 0% 100%, 100% 100%, 100% 0%, 0 25%);
	background-size: cover;
	background-position: center;
}

.rectangle-container{
	background-size: cover;
	background-position: center;
}

.mission {
  -webkit-clip-path: polygon( 0% 100%, 100% 100%, 100% 0%, 0 25%);
	background-size: cover;
	background-position: center;
}

.donation-registration{	
  -webkit-clip-path: polygon( 0% 100%, 100% 100%, 100% 0%, 0 25%);
	background-size: cover;
	background-position: center;
}

.nyc-banner {
	background-size: cover;
	background-position: center;
}

.single-story{
	display:flex;
  flex-flow: row nowrap;
}

.success-content{
	width:60%;
}


//Image Carousel Stuff

.fancy-carousel--active {
  background-color: #49708a;
  height: 700px;
  overflow: hidden;
  position: relative;

  img {
    left: 100%;
    position: absolute;
    top: 100%;
  }
}

.fancy-carousel__images-wrapper,
.fancy-carousel__controls-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancy-carousel__images-wrapper {
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.25s;

  &.fade-out {
    opacity: 0;
  }
}

.fancy-carousel__prev-arrow,
.fancy-carousel__next-arrow {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  opacity: 0.35;
  position: absolute;
  top: 50%;
  transition: opacity 0.25s;
  transform: translateY(-50%);
  width: 30px;

  &:hover {
    opacity: 0.55;
  }

  &::before {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    content: '';
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 10px;
  }
}

.fancy-carousel__prev-arrow {
  left: 5px;

  &::before {
    transform: translateY(-50%) translateX(-30%) rotate(45deg);
  }
}

.fancy-carousel__next-arrow {
  right: 5px;

  &::before {
    transform: translateY(-50%) translateX(-60%) rotate(225deg);
  }
}