/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}

/* Captions */

.wp-caption {
	margin-bottom: $base__space-unit;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075rem 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/* Galleries*/

.gallery {
	margin-bottom: $base__space-unit;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

.sbi_photo{
	border-radius: 10%;
}

// home page banners
.about, .nyc, .programs{
  background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	height:350px;

	@include desktop{
		height:700px;
		}
}

.impact-polygon{
  -webkit-clip-path: polygon( 0% 100%, 100% 100%, 100% 0%, 0 25%);
	background-size: cover;
	background-position: center;
	p{
		@include desktop{
			font-size:24px;
		}
	}
}

.rectangle-container{
	background-size: cover;
	background-position: center;
	p{
		@include desktop{
			font-size:24px;
		}
	}
}

.mission {
  -webkit-clip-path: polygon( 0% 100%, 100% 100%, 100% 0%, 0 25%);
	background-size: cover;
	background-position: center;
}

.donation-registration{	
  -webkit-clip-path: polygon( 0% 100%, 100% 100%, 100% 0%, 0 25%);
	background-size: cover;
	background-position: center;
}

.nyc-banner {
	background-size: cover;
	background-position: center;
}

// Image Carousels

.image-carousel, .nyc-slide {
	@include desktop {
	margin:0 auto;
	height:700px;
	width:100%;
  }
}

.nyc-content .image-carousel {

	.slick-list {
		height: 100%;
	}

	@include desktop {
		display: flex;
	}

	.slick-prev:before, .slick-next:before {
		color: #FFF;
	}

	.slick-dots {
		display: flex;
    justify-content: center;

		li button {
			background: #FFF;
		}
	}
}

.nyc-slide {
	background-size: cover;
	background-position:top;
}

.logo-carousel{
	margin:0 auto;
	height:300px;
	padding:0;
}

.partner{
	margin: auto auto;
	img{
	  margin: auto auto;
  }
}