// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 14) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media (min-width: $desktop__min-width) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $mobile__min-width) {
		@content;
	}
}

@mixin pre-footer {
	color: #FFF;
	font-family: 'poppins';
	font-size: 2.5714285714rem;
	font-weight: bold;
	line-height: 3.8571428571rem;
}