/* News archive */

.news-title{
  background-image:  linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%),
  url('../../assets/images/jack-min.png');
}

.news-single{
width:100vw;
display:flex;
flex-flow:row nowrap;
height:100px;
margin-bottom:10px;
@include desktop{
  width:auto;
  height:327px;
  justify-content: space-between;
  margin-top:40px;
}
}

.news-title-block{
display:flex;
flex-direction: row;
.news-headline{
  order:2;
}
.news-image{
  order:1;
  @include desktop{
    order:3;
  }
}
@include desktop{
  width:50%;
  flex-flow:row wrap;
  height:327px;
}
}

.news-details{
border-bottom: 2px solid lightgray;
border-top: 1px solid lightgray;
height:100px;
order:2;
@include desktop{
  flex-basis:content;
  width:50%;
  height:327px;
  display:flex;
  flex-direction: column;
  padding:30px;
  justify-content: space-between
}
}

.news-image{
width:100px;
@include desktop{
  width:100%;
  height:227px;
  object-fit: cover;
}
}

.news-headline{
font-size:16px;
margin:0 auto;
a{
  color:#2C2C2C;
  text-decoration: none;
}
 @include desktop{
   width:75%;
   height:100px;
   background:#4263AB;
   display: flex;
   align-items: center;
   padding: 1rem;
   a{
     margin:auto auto;
     color:white;
   }
 }
}

.news-date{
display:none;
@include desktop{
display:flex;
height:100px;
width:25%;
margin:0 auto;
background:#4263AB;
border-right:3px solid white;
color:white;
font-size:20px;
font-weight: bold;
padding:30px;
text-align: center;
}
}

.news-body{
font-size:14px;
font-family:"worksans"
}

.news-url{
padding:20px;
a{
 color:#4263AB;
 font-size: 20px;
 text-decoration: none;
}
}

.news-articles{
margin:0;
padding:0;
@include desktop{
  .news-single:nth-child(even) {
    display:flex;
    flex-flow:row nowrap;
    .news-details{
      border-right: 1px solid lightgray;
      border-radius:0 20px 20px 0;
     }
    img{
      border-radius:0 0 0 40px;
    }
  }
    .news-single:nth-child(odd) {
    display:flex;
    flex-flow:row-reverse nowrap;
      .news-details{
        border-left: 1px solid lightgray;
        border-radius:20px 0 0 20px;
      }
    img{
      border-radius:0 0 40px 0;
    }
  }
}
}