/* Impact page */
.success-stories {
  .content-wrapper {
    display:flex;
    flex-flow: row wrap;
    .single-story{
      width:48%;
      a {
        text-decoration: none;
        
        @include desktop {
          width: 75%;
          padding: 0 2rem 0 1rem;
          position:relative;
        }

        &:first-child {
          @include desktop {
            width: 0;
          }
        }
      }
      @include desktop{
        margin: 30px 0;
        width:100%;
	      display:flex;
        flex-direction: row;
      }
    }
  }
}

.how-we-work {
  @include desktop {
    height: 350px;

    h2 {
      margin-top: 0;
      padding-top: 50px;
    }
  }
}

.success-stories, .volunteers {
  .section-heading {
    background: $color__blue-dark;
    color: #fff;
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 50px;
      margin-bottom: 0;
      color: #fff;
    }
    h4 {
      margin-left: 17.4rem;
      margin-top: 0;
    }
  }
}

.single-story .success-content .hidden-mobile .impact-read-more{
  text-decoration: none;
  width:100%;
  p{
    color:#4263AB;
    text-decoration: none;
  }
  @include desktop{
    padding: 0;
    display:relative;
    left:0rem;
  }
}

.success-content{
  width:70%;

  @include desktop {
    width: 150%;
    p {
      display: block;
    }
  }
}
.success-image{
  background-repeat: no-repeat;
  background-size: cover;
	width:38vw;
	height:38vw;
	border-radius: 50%;
  
  h3{
    color:white;
    text-align: center;
    position:relative;
    top:60%;
    font-size:14px;
    font-weight:bold;
  }
	
  @include desktop{
    max-height: none;
    max-width: none;
    height: 100%;
    width: 100%;
	}
}

.statistics{
  background-color: #00277E;
  display:flex;
  height: 1400px;
  h2{
    padding:0 29px;
  }
}
.testimonial-body{
  font-size:24px;
}
.infographics{
  display:flex;
  flex-flow: row nowrap;
}

.infographic-1{
  width:auto;
  max-width: 100%;
  max-height:100%;
  height:auto;
  @include desktop{
    align-items: left;
    max-width:50%;
    max-height:100%;
    height:auto;
  }
}

.infographic-2{
  align-items: right;
  max-width:50%;
  max-height:100%;
  height:auto;
}

.impact-head{
  color:white;
}

.impact-polygon{
  height:350px;
  width:100%;
  p{
    text-align:right;
    width:70%;
    margin: 175px 20%;
    color:white;
	}
  @include desktop{
	height:550px;
  }
}

.rectangle-container{
  height:350px;
  width:100%;
  p{
		width:70%;
		margin: 175px 10%;
		color:white;
	}
  @include desktop{
	height:550px;
  }
}

// single success story

.single-success-banner{
  background-position: center;
}

.success-image-mobile{
  display:flex;
  height:200px;
  width:100vw;
  background-size: cover;
  background-position: center;
  align-content:center;
  @include desktop{
    width: 0;
    display:none;
  }
}

.single-success-image{
  width:40%;
}

.success-exerpt{
  color:white;
  font-size:16px;
  margin:auto auto;
  font-weight: light;
  padding:0 20px;
  @include desktop{
    color:#4263AB;
    font-size:24px;
}
}

.success-image-exerpt{
  display:flex;
  flex-flow:row nowrap;
  max-height:500px;
}