/* Native Youth Centre */
.header-wrapper-nyc {
  @include tablet {
    p {
      font-size: 1rem;
      color:white;
      margin-top:0;
      text-transform: uppercase;
      font-weight: light;
    }
  }
  @include desktop {
    p {
      font-size:2.1428571429rem;
    }
  }
}

.donation-banner {
  height: 11rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;

  p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.15rem;
    line-height: 1.7;
    font-family: $font__main;
  }
  h2 {
    margin: 0;
    font-family: $font__heading;
    padding-bottom: 1rem;
  }
  @include tablet {
    height: 6.8rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7.5%;
    p {
      width: 50%;
      text-align: left;
    }
    h2 {
      padding: 0;
    }
  }
  @include desktop {
    justify-content: space-between;
    width: 100%;
    height: 10.8571428571rem;
    padding: 0;
    p, h2 {
      font-size: 1.5rem;
    }
    p {
      width: 60%;
      padding-left: 8.7142857143rem;
      font-size: $desktop__h2;
      line-height: $desktop__h2 + 1rem;
    }

    h2 {
      padding-right: 8.7142857143rem;
      text-align: right;
    }
  }
}

.need .content-wrapper a.nyc-download {
  margin-bottom: 1.5rem;
  display: block;
  color: $color__red-medium;
  text-decoration: none;
}

.nyc-line {
  border: 0px solid #FFF;

  @include desktop {
    height: 1px;
    width: 100%;
    display: block;
    border: 1px solid #D13434;
  }
}

.need .section-heading {
  display: none;

  @include desktop {
    display: flex;
  }
}

.nyc-content {
  .nyc-banner {
    display: none;

    @include tablet {
      display: flex;
    }
    // height:23.214285714rem;
    // width:100%;
    // p {
    //   text-align: right;
    //   width:80%;
    //   margin: 30px 15%;
    //   color:white;
    // }
  }

  .partners .content-wrapper:nth-child(2), .realizing .content-wrapper, .ways-to-help-inner .content-wrapper, .need .content-wrapper:nth-child(2), .nyc-banner .content-wrapper:nth-child(2) {
    @include desktop {
      padding-bottom: 1rem;
    }
  }

  .vision {
    background-color: #d43e3e;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: white;
    }
  }

  .planning {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .timeline-item {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;

    @include desktop {
      padding: 0 0 2.5rem 0;
    }
  }
  .timeline-year {
    margin: 0;
    flex-basis: 20%;
    font-family: $font__heading;
    font-size: 2rem;
    line-height: 2rem;
    text-align: right;
    
    @include desktop {
      flex-basis: 15%;
      font-size: 2.3rem;
      font-weight: bold;
      line-height: 2.3rem;
    }
  }
  .timeline-description {
    margin: 0;
    flex-basis: 70%;

    @include desktop {
      flex-basis: 80%;
    }
  }
  section.pre-footer {
    @include tablet {
      padding: 0;
    }
    @include desktop {
      height: 10.8571428571rem;
      padding-right: 8.7142857143rem;
      padding-left: 8.7142857143rem;
      p {
        text-transform: uppercase;
      }
    }
  }
}

.planning {
    @include desktop {
      margin-top: 4rem;
    }
    
    .section-heading {
      display: none;
      flex-flow: column nowrap;
      
      @include tablet {
        padding-left: 5rem;
      }
  
      @include desktop {
        flex-direction: column;
        padding-left: 0;
      }
  
      h2 {
        text-align: left;
        margin-bottom: 0;
        @include desktop {
          margin: 0;
        }
      }
      h4 {
        padding: $content-wrapper-desktop;
        margin-top: 0;
        font-weight: normal;
        @include tablet {
          padding: 0;
        }
        @include desktop {
          padding: $content-wrapper-desktop;          
        }
      }
    }
  }

.ways-to-help-inner {
  background-color: $color__red-medium!important;
  display: flex;
  justify-content: center;

  @include desktop {
    flex-direction: column;
  }

  h4 {
    color: white;
    font-family: $font__heading;
    font-size: $desktop__h4;
    font-weight: 500;
    @include desktop {
      font-size: $desktop__h3;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h5 {
    font-size: $desktop__main;
    color: white;
  }
  .help-boxes {
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      width: 95%;
      margin-left: auto;
      margin-right: 0;
    }
  }
  .help-box {
    @include tablet {
      display: flex;
      width: 95%;
      margin-left: auto;
      margin-right: 0;
    }
  }
  .donation-button {
    padding: 1rem;
    background: none;
    display: flex;
    justify-content: center;
    a {
      background-color: $color__red-dark;
    }
    @include tablet {
      flex-basis: 40%;
    }
    @include desktop {
      padding: 0;
      h2 {
        padding: 0;
        line-height: 0;
      }
    }
  }
  .help-points{
    @include tablet {
      display: flex;
      width: 60%;
    }
    .line-break {
      display: block;
    }
    p {
      padding-left: 1rem;
      border-left: solid 2px #ffffff;
      line-height: $desktop__h5;

      @include tablet {
        width: 95%;
      }
    }
  }
  .help-bold{
    font-weight: bold;
  }
  .fa-angle-right {
    display: none;

    @include tablet {
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      font-size: 1.25rem;
      width: 5%;
    }
    @include desktop {
      font-size: 2.35rem;
    }
  }
  .nyc-help-spacing {
    display: none;

    @include tablet {
      width: 5%;
      display: inline-block;
    }
  }
  .nyc-help-text {
    width: 95%;
    display: inline-block;
  }

  .section-heading {
    display: none;

    @include desktop {
      display: flex;
      background: $color__red-dark;
      h2 {
        color: #fff;
      }
    }
  }
  background: $color__red-medium;
  color: #fff;
}

.partners .section-heading {
  display: none;

  @include desktop {
    display: flex;
  }
}

ul.nyc-partners {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  @include tablet {
    flex-flow: row wrap;
  }
  @include desktop {
    justify-content: space-between;
  }

  .partner {
    flex-basis: 90%;
    margin: 2rem 0;
    @include tablet {
      margin: 2rem;
      max-width: 40%;
    }
    @include desktop {
      flex-basis: 48%;
      max-width: 40%;
      margin: 2rem;
    }
  }
}

#youth-center-resources-carousel {
  padding: 1rem 9rem 0 17.428571429rem!important;
  width: 100%;
  display: flex;
  background: $color__red-medium !important;
  @include tablet {
    // background: white !important;
    align-self: center;
    padding: 1rem 3rem 1rem 3rem;
  }
  @include desktop {
    padding: 0 10% 0 17.428571429rem;
  }
}

// .video-wrapper {
//   margin: 3rem 0;
// }

.nyc-anchor {
  margin-top: -54px;
  padding-bottom: 54px;
}