.calendar-header {
  position: relative;
  display: none;
  text-align: left;
  @include tablet {
    display: flex;
    margin-left: 48px;
  }
  @include desktop {
    margin-left: 237px;
  }
}

// #calendar h2 {
//   @include desktop {
//     margin-left: 237px;
//   }
//   @include tablet {
//     margin-left: 48px;
//   }
// }
.programs-title{
    background-image:  linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%),
    url('../../assets/images/archive-banners/programs-banner.jpg');
}  
.program-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .section-heading {
    display: none;

    @include desktop {
      display: initial;
    }

    h3 {
      color: #FFF;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}

.program-checkout {
  width: 100%;
  background: $color__blue-dark;

  h2 {
    padding-left: 2.2em; //to match accordion heading
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      margin: 0;
      padding: 0;
      font-size: 3.4285714286rem;
      font-weight: 600;
    }
  }

  p {
    font-size: 1.7142857143rem;
    color: white;
  }

  @include desktop {
    padding: 3.5714285714rem 15.714285714rem 3.5714285714rem 17.428571429rem; //content-wrapper
  }

}

.programs-list {
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  @include tablet {
    width: 100%;    
    padding: 50px;
  }
  @include desktop {
    padding: $content-wrapper-desktop;
  }
  

  li {
    height: 7.8571428571rem;
    margin-bottom: 0.5rem;
    flex-basis: 49%;
    overflow: hidden;
    text-align: center;

    @include desktop {
      height: 23.357142857rem !important;
      margin-bottom: 1.7142857143rem;
      flex-basis: 48.5%;
    }
    @include tablet {
      height: 18rem;
      flex-basis: 48.5%;
      margin-bottom: 1.7142857143rem;      
    }

    a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: none;
    }

    .wp-post-image {
      position: relative;
      width: 100%;
      height: 100%;

      @include desktop {
        min-height: 100%;
      }
    }

    .program-name {
      width: 100%;
      color: #FFF;
      font-family: $font__main;
      z-index: 2;

      @include tablet {
        height: 70px;
        margin: 0;
        padding-top: 1rem;
        width: 80%;
        font-size: 1rem;
      }
      @include desktop {
        height: 91px;        
        font-size: 1.4rem;
        width: 100%;
      }
    }

    .program-logo {
      height: 70px;      
      z-index: 3;
      @include desktop {
        height: 91px;
      }
    }
  }
}

.education-heading h3 {
  background: $color__blue-medium;
}

.education-list {
  li {
    @include tablet {
      border-radius: 0 0 0 90px;
    }
  }

  .gradient:hover {
    background: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);

    @include desktop {
      background: transparent;

      &:hover {
        background: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);
      }
    }
  }

  .program-logo {
    bottom: 0;
    left: 0;
  }

  li {
    .program-name {
      @include tablet {
        top: auto;
        bottom: 0 !important;
        right: 0;
        background: $color__blue-dark;
      }
    }
  }

}

.personal-heading h3 {
  background: $color__red-medium;
}

.personal-list {

  li {
    @include tablet {
      border-radius: 0 90px 0 0;
    }
  }

  .gradient:hover {
    background: linear-gradient(to bottom,rgba(167,0,0,0.7) 0%, rgba(167,0,0,0.7) 100%);

    @include tablet {
      background: rgba(234,153,152,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(167,0,0,0.7) 0%, rgba(167,0,0,0.7) 100%);
      }
    }
  }

  .program-logo {
    top: 0;
    right: 0;
  }

  li {
    .program-name {
      @include tablet {
        top: 0;
        left: 0;
        right: auto;
        background: $color__red-dark;
      }
    }
  }
}

.live-in-heading h3 {
  background: $color__grey-dark;
}

.live-in-list {

  li {
    @include tablet {
      border-radius: 90px 0 0 0;
    }
  }

  .gradient:hover {
    background: linear-gradient(to bottom,rgba(74,74,74,0.7) 0%, rgba(74,74,74,0.7) 100%);

    @include tablet {
      background: rgba(198,194,200,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(74,74,74,0.7) 0%, rgba(74,74,74,0.7) 100%);
      }
    }
  }

  .program-logo {
    top: 0;
    left: 0;
  }

  li {
    .program-name {
      @include tablet {
        right: 0;
        top: 0;
        background: #000;
      }
    }
  }

}

.sports-heading h3 {
  background: $color__yellow-dark;
}

.sports-list {

  li {
    @include tablet {
      border-radius: 0 0 90px 0;
    }
  }

  .gradient:hover {
    background: linear-gradient(to bottom,rgba(181,167,0,0.7) 0%, rgba(181,167,0,0.7) 100%);

    @include tablet {
      background: rgba(255,249,214,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(181,167,0,0.7) 0%, rgba(181,167,0,0.7) 100%);
      }
    }
  }

  .program-logo {
    bottom: 0;
    right: 0;
    @include tablet {
      right: 3.5px;
    }
    @include desktop {
      right: 0;
    }
  }

  li {
    .program-name {
      @include tablet {
        left: 0;
        bottom: 0;
        top: auto;
        background: $color__yellow-dark;
      }
    }
  }

}

/* Single Program page */

.single-program {
  .header-wrapper {
    background: $color__blue-dark;

    h1 {
      text-align: left;
      font-size: 1.5rem;
      width: 100%;
      margin: 0 auto;

      @include desktop {
        padding-left: 50px;
        margin-bottom: 0;
        width: 100%;
        font-size: 3.4285714286rem;
      }
    }

    @include desktop {
      padding: 0;
      background:
        linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%),
        url('../../assets/images/Julie.png') center / cover no-repeat;
    }
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-content {

    p {
      @include desktop {
        font-size: $desktop__main;
        line-height: 2.2857142857rem;
      }
    }

    a {
      font-weight: 600;
      text-decoration: none;

      @include desktop {
        font-size: $desktop__main;
      }
    }
  }

  .program-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      padding: $content-wrapper-desktop;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .content-wrapper {
        width: 100%;
        padding: 0;
      }
    }

    h3 {
      color: $color__grey-dark;
    }

    .program-image {
      overflow: hidden;
      height: 12.071428571rem;
      margin: 2rem 0 2rem 0;
      width: 100%;

      img {
        z-index: -1;
        position: relative;
        width: 100%;
      }
      @include tablet {
        height: 15rem;
      }

      @include desktop {
        height: auto;
        flex-basis: 48%;
        background: none;
        align-self: flex-start;

        img {
          border-radius: 0 0 0 90px;
        }
      }
    }

    .program-activities {

      ul {
        margin: 0;
        padding: 0 1rem;
      }

      li {
        padding: 0.5rem 0;
      }

      @include desktop {
        flex-basis: 48%;
      }

    }

    .program-resource-wrapper {
      display: flex;
      height: auto;
      width: 85%;
      border-top: 2px solid $color__blue_dark;
      padding-top: 2rem;
      margin-top: 1rem;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      h2 {
        align-self: flex-start;
      }
      @include tablet {
        flex-flow: row nowrap;
        position: relative;
        justify-content: space-between;
        h2 {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      @include desktop {
        width: 100%;
        justify-content: space-between;
      }
    }

  } // end program body

  // .image-carousel {
  //   width: 100%;

  // }

}

.prog-resource-item {
  display:flex;
  flex-flow:row nowrap;
  min-height: 7rem;
  height: auto;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 4px 4px 0px lightgrey;
  border-radius: 15px 15px 15px 25px;
  @include tablet {
    height: 17rem;
    width: 30%;
    flex-flow: column nowrap;
  }
  @include desktop {
    margin-top: 5rem;
    height: 27rem;
    min-width: 200px;
  }
}

.prog-resource-item:nth-child(2) {
  @include desktop {
    margin-right: 0.5rem;
  }
}

.prog-resource-item:nth-child(4) {
  @include desktop {
    margin-left: 0.5rem; 
  }
}

.prog-resource-info {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  h3 a {
    color: black;
    text-decoration: none;
  }
  @include tablet {
    height: 35%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    p {
      display: none;
    }
    h3 {
      font-size: 0.75rem;
      line-height: 1.25;
      margin: 0;
    }
  }
  @include desktop {
    height: 35%;
    justify-content: flex-start;
    position: relative;
    padding: 1rem;
    h3 {
      margin: 0 0 0.5rem 0;
      font-size: 1rem;
    }
  }

}

.prog-resource-image {
  display: none;
  @include tablet {
    background: grey;
    display: flex;
    height: 65%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
  }
  @include desktop {
    height: 65%;
  }
}

#prog-url {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 0.5rem;
  @include tablet {
    text-align: right;
    width: 100%;
  }
  @include desktop {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
  }
}

.program-archive-item {
  display: flex;
  position: relative;
  height: 100%;
  @include tablet {
    .program-thumb {
      min-width: 25rem;
    }
  }
  @include desktop {
    .program-thumb {
      min-width: 33rem;
    }
  }

}

.program-item-footer-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: absolute;
  @include desktop {
    height: 91px;
  }
}

.education-title {
  bottom: 0;
}

.personal-support-title {
  top: 0;
}

.housing-title {
  top: 0;
}

.community-title {
  bottom: 0;
}