/* Native Youth Centre */
.header-wrapper-nyc {
  @include tablet {
    p {
      font-size: 1rem;
      color:white;
      margin-top:0;
      text-transform: uppercase;
      font-weight: light;
    }
  }
  @include desktop {
    p {

      font-size:2.1428571429rem;
    }
  }
}

.donation-banner {
  height: 16rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  h2 {
    width: 18rem;
  }
  p {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  p, h2 {
    margin: 0;
    font-family: $font__heading;
  }
  @include tablet {
    height: 12.4285714286rem;
    flex-direction: row;
    padding: 1rem;
    p {
      width: 50%;
    }
  }
  @include desktop {
    justify-content: space-between;
    width: 100%;
    p, h2 {
      font-size: 1.5rem;
    }
    
    p {
      width: 50%;
      padding-left: 8.7142857143rem;
      font-size: $desktop__h2;
      line-height: $desktop__h2 + 1rem;
    }

    h2 {
      padding-right: 2rem;
      text-align: right;
    }
  }
}

.vision .content-wrapper a.nyc-download {
  margin-bottom: 1.5rem;
  display: block;
  color: $color__red-medium;
  text-decoration: none;
}

.nyc-line {
  border: 0px solid #FFF;

  @include desktop {
    height: 1px;
    width: 100%;
    display: block;
    border: 1px solid #D13434;
  }
}

.vision .section-heading {
  display: none;

  @include desktop {
    display: flex;
  }
}

.nyc-content {
  .nyc-banner {
    height:23.214285714rem;
    width:100%;
    p {
      text-align: right;
      width:80%;
      margin: 30px 15%;
      color:white;
    }
  }
  .planning {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .timeline-item {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;

    @include desktop {
      padding: 0 0 2.5rem 0;
    }
  }
  .timeline-year {
    margin: 0;
    flex-basis: 20%;
    font-family: $font__heading;
    font-size: 2rem;
    line-height: 2rem;
    text-align: right;
    
    @include desktop {
      flex-basis: 15%;
      font-size: 2.3rem;
      font-weight: bold;
      line-height: 2.3rem;
    }
  }
  .timeline-description {
    margin: 0;
    flex-basis: 70%;

    @include desktop {
      flex-basis: 80%;
    }
  }
}

.planning {
    @include desktop {
      margin-top: 4rem;
    }
    
    .section-heading {
      display: flex;
      flex-flow: column nowrap;
      @include tablet {
        padding-left: 5rem;
      }
  
      @include desktop {
        flex-direction: column;
        padding-left: 0;
      }
  
      h2 {
        text-align: left;
        margin-bottom: 0;
        @include desktop {
          margin: 0;
        }
      }
      h4 {
        padding: $content-wrapper-desktop;
        margin-top: 0;
        font-weight: normal;
        @include tablet {
          padding: 0;
        }
        @include desktop {
          padding: $content-wrapper-desktop;          
        }
      }
    }
  }

.ways-to-help {
  h4 {
    font-size: $desktop__h4;
  }
  ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;

    @include desktop {
      padding: 0 0 1rem 6rem;
    }
  }
  h5 {
    font-size: $desktop__main;
  }
  .fa-angle-right {
    vertical-align: top;
    font-weight: bold;
    font-size: 1.25rem;
    width: 5%;
  }
  .nyc-help-spacing {
    width: 5%;
    display: inline-block;
  }
  .nyc-help-text {
    width: 95%;
    display: inline-block;
  }

  .section-heading {
    display: none;

    @include desktop {
      display: flex;
      background: $color__red-dark;
      h2 {
        color: #fff;
      }
    }
  }
  background: $color__red-medium;
  color: #fff;
}

.partners .section-heading {
  display: none;

  @include desktop {
    display: flex;
  }
}

ul.nyc-partners {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  @include tablet {
    flex-flow: row wrap;
  }
  @include desktop {
    justify-content: space-between;
  }

  .partner {
    flex-basis: 90%;
    margin: 2rem 0;
    @include tablet {
      margin: 2rem;
      max-width: 40%;
    }
    @include desktop {
      flex-basis: 48%;
      max-width: 40%;
      margin: 2rem;
    }
  }
}

#nyc-resource-carousel-wrapper {
  width: 100%;
  display: flex;
  background: $color__red-medium !important;
  @include tablet {
    background: white !important;
    align-self: center;
    padding: 1rem 3rem 1rem 3rem;
  }
}

.video-wrapper {
  margin: 3rem 0;
}

@-moz-document url-prefix() { 
  #nyc-sidebar-start {
    margin-top: 5px;
  }
}