/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* About page */

/* Native Youth Centre */
.page-id-76 {

  .planning {  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .planning-timeline {
    display: none;
  }

  .timeline-item {
    display: flex;
  }

  .year-wrapper {
    flex-basis: 20%;
  }

  .description-wrapper {
    flex-basis: 80%;
  }

}