/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------
/* List of Pages: Home page, About page, Impact page, Native Youth Center, News archive */

/* All pages */
.header-wrapper{
  height: 4.2142857143rem;
  background-image: none;
  background-color:$color__heading-blue;
  display: flex;
  align-items: center;
  @include desktop{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    h1{
      margin-bottom:0;
      padding-left: 8.7142857143rem;;
      width: 100%;
      font-weight: 600;
    }
  }
}

/* Front Page */
.homepage-links {
  text-decoration: none;

  h3 {
    text-transform: uppercase;
    color: white;
    @include desktop{
      padding: 1rem 2.5rem;
      display: inline-block;
      background: $color__red-medium;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
      font-weight: 400;
      font-size: 1.2857142857rem;
      &:hover{
        background: $color__red-dark;
      }
    }
  }

  .fa-angle-right {
    font-weight: bold;
    font-size: 1.5rem;
    @include desktop{
      display: none;
    }
  }
}

.nyc{
  text-align: right;
  h2{
		margin:0px;
		text-align: right;
	}
  p{
    margin-left:50px;
    text-align: right;
  }
  a{
    text-align: right;
  }
}

.about, .nyc, .programs{
  display: flex;
  justify-content: center;

  .content-wrapper{
    padding-top: 4.9285714286rem;
  }
  h2{
		margin:0px;
    color: #FFF;
    text-transform: uppercase;
  }
  p{
    color:white;
  }

  @include desktop{
    p{
      font-size: 1.1428571429rem;
    }
  }
}

.programs{
	.content-wrapper{
		h2{
			margin: 0;
		 }
     h3{
       font-family:$font__main;
    }
  }
}

@include desktop{
  .about, .programs{
    .content-wrapper{
      padding: 17.785714286rem 44.285714286rem 0 8.7142857143rem;
    }
  }

  .nyc{
    .content-wrapper{
      padding: 17.785714286rem 8.7142857143rem 0 44.285714286rem;
    }
  }
}

/* About page */
.about-content{
  .vision{
    h3{
      color: $color__grey-dark;
    }
  }
  .mission{
    height:350px;
    width:100%;
    color: #FFF;
    h3{
      padding-top:75px;
      color:#FFF;
    }
    p{
      width:100%;
      margin:0;
	  }
  }
  .content-area{
    ul{
        margin: 0;
        padding: 1.8571428571rem 0;
        list-style: none;
    }
  }

  .leader{
    margin: 0.6428571429rem 0;
    display: flex;
    justify-content: space-around;
    .image-wrapper{
      height: 5.7rem;
      width: 5.7rem;
      overflow: hidden;
      border-radius: 50%;
      img{
        max-height: 100%;
        height: auto;
        max-width: 100%;
        width: auto;
      }
    }
    .text-wrapper{
      flex-basis: 60%;
      font-size: 0.8571428571rem;
      p{
        margin: 0.5rem 0;
      }
    }
    .leader-name{
      color: $color__grey-dark;
      font-size: 1.1428571429rem;
      font-weight: bold;
    }
  }
}

/* Impact page */
.success-stories{
  .content-wrapper{
    display:flex;
    flex-flow: row wrap;
    .single-story{
      width:48%;
      a{         
        text-decoration: none;
        @include desktop{
          position:relative;
          right:5rem;
        }
      }
      @include desktop{
        margin-top: 30px;
        width:100%;
	      display:flex;
        flex-direction: row;
        a{
          width:30%;
        }
      }
    }
  }
}
.success-head{
  display:flex;
  flex-direction: column;
}
.impact-read-more{
  text-decoration: none;
  width:100%;
  p{
    color:#4263AB;
    text-decoration: none;
  }
  @include desktop{
    display:relative;
    left:1rem;
  }
}

.success-content{
  width:70%;
}
.success-image{
  background-repeat: no-repeat;
  background-size: cover;
	width:38vw;
	height:38vw;
	border-radius: 50%;
  
  h3{
    color:white;
    text-align: center;
    position:relative;
    top:60%;
    font-size:14px;
    font-weight:bold;
  }
	
  @include desktop{
    max-height: none;
    max-width: none;
    height: 100%;
    width: 100%;
	}
}

.statistics{
  background-color: #00277E;
  display:flex;
  height: 1400px;
  h2{
    padding:0 29px;
  }
}
.testimonial-body{
  font-size:24px;
}
.infographics{
  display:flex;
  flex-flow: row nowrap;
}

.infographic-1{
  width:auto;
  max-width: 100%;
  max-height:100%;
  height:auto;
  @include desktop{
    align-items: left;
    max-width:50%;
    max-height:100%;
    height:auto;
  }
}

.infographic-2{
  align-items: right;
  max-width:50%;
  max-height:100%;
  height:auto;
}

.impact-head{
  color:white;
}

.impact-polygon{
  height:350px;
  width:100%;
  p{
    text-align:right;
    width:70%;
    margin: 175px 20%;
    color:white;
	}
  @include desktop{
	height:550px;
  }
}

.rectangle-container{
  height:350px;
  width:100%;
  p{
		width:70%;
		margin: 175px 10%;
		color:white;
	}
  @include desktop{
	height:550px;
  }
}

// single success story

.single-success-banner{
  background-position: center;
}

.success-image-mobile{
  display:flex;
  height:200px;
  width:100vw;
  background-size: cover;
  background-position: center;
  align-content:center;
  @include desktop{
    display:none;
  }
}

.single-success-image{
  width:40%;
}

.success-exerpt{
  color:white;
  font-size:16px;
  margin:auto auto;
  font-weight: light;
  padding:0 20px;
  @include desktop{
    color:#4263AB;
    font-size:24px;
}
}

.success-image-exerpt{
  display:flex;
  flex-flow:row nowrap;
  max-height:500px;
}

/* Native Youth Centre */
.header-wrapper-nyc {
  @include desktop {
    p{
      padding-left:3.5714285714rem;
      color:white;
      margin-top:0;
      font-size:2.1428571429rem;
    }
  }
}

.nyc-content {
  .nyc-banner {
    height:23.214285714rem;
    width:100%;
    p {
      text-align: right;
      width:80%;
      margin: 30px 15%;
      color:white;
    }
  }
  .planning {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .timeline-item {
    display: flex;
  }
  .year-wrapper {
    flex-basis: 20%;
  }
  .timeline-year {
    font-family: $font__heading;
  }
  .description-wrapper {
    flex-basis: 80%;
  }
}

/* News archive */

 .news-title{
    background-image:  linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%),
    url('../../assets/images/jack-min.png');
}

.news-single{
  width:100vw;
  display:flex;
  flex-flow:row nowrap;
  height:100px;
  margin-bottom:10px;
	@include desktop{
    width:auto;
    height:327px;
    justify-content: space-between;
    margin-top:40px;
  }
}

.news-title-block{
  display:flex;
  flex-direction: row;
  .news-headline{
    order:2;
  }
  .news-image{
    order:1;
    @include desktop{
      order:3;
    }
  }
  @include desktop{
    width:50%;
    flex-flow:row wrap;
    height:327px;
  }
}

.news-details{
  border-bottom: 2px solid lightgray;
  height:100px;
  order:2;
  @include desktop{
    flex-basis:content;
    width:50%;
    height:327px;
    display:flex;
    flex-direction: column;
    padding:30px;
    justify-content: space-between
  }
}

.news-image{
  width:100px;
  @include desktop{
    width:100%;
    height:227px;
    object-fit: cover;
  }
}

.news-headline{
  font-size:16px;
  margin:0 auto;
  a{
    color:#2C2C2C;
    text-decoration: none;
  }
   @include desktop{
     width:75%;
     height:100px;
     background:#4263AB;
     display: flex;
     align-items: center;
     padding: 1rem;
     a{
       margin:auto auto;
       color:white;
     }
   }
}

.news-date{
  display:none;
  @include desktop{
  display:flex;
  height:100px;
  width:25%;
  margin:0 auto;
  background:#4263AB;
  border-right:3px solid white;
  color:white;
  font-size:20px;
  font-weight: bold;
  padding:30px;
  text-align: center;
  }
}

.news-body{
  font-size:14px;
  font-family:"worksans"
}

.news-url{
 padding:20px;
 a{
   color:#4263AB;
   font-size: 20px;
   text-decoration: none;
 }
}

.news-articles{
  margin:0;
  padding:0;
  @include desktop{
    .news-single:nth-child(even) {
      display:flex;
      flex-flow:row nowrap;
      .news-details{
        border-right: 1px solid lightgray;
        border-radius:0 0 20px 0;
       }
      img{
        border-radius:0 0 0 40px;
      }
    }
      .news-single:nth-child(odd) {
      display:flex;
      flex-flow:row-reverse nowrap;
        .news-details{
          border-left: 1px solid lightgray;
          border-radius:0 0 0 20px;
        }
      img{
        border-radius:0 0 40px 0;
      }
    }
  }
}

#sb_instagram{
  margin-right:0;
  @include desktop{
    margin: 0 auto;
  }
}

