/* Native Youth Centre */
.header-wrapper-nyc {
  @include desktop {
    h1, p {

    }
    p {
      color:white;
      margin-top:0;
      font-size:2.1428571429rem;
    }
  }
}

.donation-banner {
  @include desktop {
    height: 12.4285714286rem;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
    color:white;
    
    p, h2 {
      margin: 0;
      width: 100%;
      font-family: $font__heading;
    }
    
    p {
      padding-left: 8.7142857143rem;
      font-size: $desktop__h2;
      line-height: $desktop__h2 + 1rem;
    }

    h2 {
      padding-right: 8.7142857143rem;
      text-align: right;
    }
  }
}

a.nyc-download {
  margin-bottom: 1.5rem;
  display: block;
  color: $color__red-medium;
  text-decoration: none;
}

.nyc-line {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #D13434;
}

.nyc-content {
  .nyc-banner {
    height:23.214285714rem;
    width:100%;
    p {
      text-align: right;
      width:80%;
      margin: 30px 15%;
      color:white;
    }
  }
  .planning {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .timeline-item {
    display: flex;
  }
  .year-wrapper {
    flex-basis: 20%;
  }
  .timeline-year {
    font-family: $font__heading;
  }
  .description-wrapper {
    flex-basis: 80%;
  }
}

.ways-to-help {
	h4 {
		font-size: $desktop__h4;
  }
  ul {
    list-style: none;
  }
	h5 {
		font-size: $desktop__main;
		&::before {
			content: "\f105";
			font-family: "FontAwesome";
			color: #fff;
			position: relative;
			right: 0.7rem;
		}
	}
	.section-heading {
		background: $color__red-dark;
		h2 {
			color: #fff;
		}
	}
	background: $color__red-medium;
	color: #fff;
}

.timeline-item {
	.timeline-year {
		font-size: 2.3rem;
		padding-right: 1rem;
	}
}

.planning {
    @include desktop {
      margin-top: 4rem;
    }
    
    .section-heading {
      display: flex;
  
      @include desktop {
        flex-direction: column;
      }
  
      h2 {
        text-align: left;
        margin-bottom: 0;
        @include desktop {
          margin: 0;
        }
      }
      h4 {
        padding: $content-wrapper-desktop;
        margin-top: 0;
        font-weight: normal;
      }
    }
  }