/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------

/* All pages */
.header-wrapper {
  height: 4.2142857143rem;
  background-image: none;
  background-color:$color__heading-blue;
  display: flex;
  align-items: center;

@include desktop {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25rem;
  width: 100%;
  background-size: cover;
  background-position: center;
    h1{
      padding-left:50px;
      margin-bottom:0;
    }
  }
}

/* About page */
.about-content {

  .vision {

    h3 {
      color: $color__grey-dark;
    }
  }

  .mission {
    height:350px;
    width:100%;
    color: #FFF;

    p{
      width:80%;
      margin: 70px auto;
	  }
  }

  .content-area {
    ul {
        margin: 0;
        padding: 1.8571428571rem 0;
        list-style: none;
    }
  }

  .leader {
    margin: 0.6428571429rem 0;
    display: flex;
    justify-content: space-around;

    .image-wrapper {
      height: 5.7rem;
      width: 5.7rem;
      overflow: hidden;
      border-radius: 50%;

      img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
        width: auto;
      }
    }

    .text-wrapper {
      flex-basis: 60%;
      font-size: 0.8571428571rem;

      p {
        margin: 0.5rem 0;
      }
    }

    .leader-name {
      color: $color__grey-dark;
      font-size: 1.1428571429rem;
      font-weight: bold;
    }

  }

}

/* Impact page */

.impact-polygon{
  height:350px;
  width:100%;

  p {
    text-align:right;
    width:70%;
    margin: 175px 20%;
    color:white;
	}
  @include desktop{
	height:550px;
  }
}

.rectangle-container{
  height:350px;
  width:100%;

  p {
		width:70%;
		margin: 175px 10%;
		color:white;
	}
  @include desktop{
	height:550px;
  }
}

/* Native Youth Centre */
.header-wrapper-nyc {

  @include desktop {

    p{
      padding-left:3.5714285714rem;
      color:white;
      margin-top:0;
      font-size:2.1428571429rem;
    }
  }
}

.nyc-content {

  .nyc-banner {
    height:23.214285714rem;
    width:100%;

    p {
      text-align: right;
      width:80%;
      margin: 30px 15%;
      color:white;
    }
  }

  .planning {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .timeline-item {
    display: flex;
  }

  .year-wrapper {
    flex-basis: 20%;
  }

  .timeline-year {
    font-family: $font__heading;
    font-weight: bold;
  }

  .description-wrapper {
    flex-basis: 80%;
  }

}

/* Get Involved page */

.donation-registration {
  height:350px;
  width:100%;

	p{
		width:250px;
		margin: 175px auto;
		color:white;
	}
}

.donation-call {
  width: 100%;
  padding: 1rem;
  display: flex;

  justify-content: center;
  background-color: $color__red-dark;
  color: #FFF;
  text-align: center;

  .content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    margin: 1rem 0;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  .donate-button {
    height: 3.5714285714rem;
    margin: 1rem 0;
    padding: 1rem 3rem;

    background-color: $color__red-medium;
    border-radius: 10px;
    font-weight: normal;
  }

}

.opportunities {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.single-opportunity {
  display: flex;
  border-top: 1px solid $color__blue-medium;

  h3 {
    flex-basis: 70%; // value to change once link text is resolved
    font-family: $font__main;
    font-size: 1rem;
    font-weight: 600;
  }
}

/* Programs Archive */

.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programs-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  li {
    height: 7.8571428571rem;
    margin-bottom: 0.5rem;
    flex-basis: 49%;
    overflow: hidden;
    text-align: center;

    a {
      position: relative;
      display: block;
    }

    .wp-post-image {
      position: relative;
      z-index: 0;
      max-width: 110%;
      width: auto;
      height: auto;
    }

    .program-name {
      left: 15%;
      top: 0;
      width: 70%;
      padding-top: 1rem;
      position: absolute;
      color: #FFF;
    }

  }
}

.education-list {
  li {
    a .wp-post-image::after {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);
    }
  }
}

.personal-list {
  li {
    background: linear-gradient(to bottom,rgba(167,0,0,0.7) 0%, rgba(167,0,0,0.7) 100%);
  }
}

.live-in-list {
  li {
    background: linear-gradient(to bottom,rgba(74,74,74,0.7) 0%, rgba(74,74,74,0.7) 100%);
  }
}

.sports-list {
  li {
    background: linear-gradient(to bottom,rgba(181,167,0,0.7) 0%, rgba(181,167,0,0.7) 100%);
  }
}

/* Single Program page */

.single-program {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-content a {
    font-weight: 600;
    text-decoration: none;
  }

  .program-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: $color__grey-dark;
    }

    .program-activities {
      order: 2;

      ul {
        margin: 0;
        padding: 0;
      }
    }

    .program-image {
      background: rgba(74,74,74,0.7);
      overflow: hidden;
      height: 12.071428571rem;

      img {
        z-index: -1;
        position: relative;
      }
    }

    .program-image:nth-child(1) {
      order: 1;
    }

    .program-image:nth-child(2) {
      order: 3;
    }

    .program-involvement {
      order: 4;
    }

  }
}

/* News archive */

.news-single{
  width:100vw;
  display:flex;
  flex-flow:row nowrap;
  height:100px;
  margin-bottom:10px;
	@include desktop{
    width:auto;
    height:327px;
    justify-content: space-between;
    margin-top:40px;
  }
}
.news-title-block{
  display:flex;
  flex-direction: row;
  @include desktop{
    width:50%;
    flex-flow:row wrap;
    height:327px;
  }
}

.news-details{
  border-bottom: 2px solid lightgray;
  height:100px;
  @include desktop{
    flex-basis:content;
    width:50%;
    height:327px;
    display:flex;
    flex-direction: column;
    padding:30px;
    justify-content: space-between
  }
}

.news-image{
  width:100px;
  @include desktop{
    width:100%;
    height:227px;
    object-fit: cover;
  }
}

.news-headline{
  font-size:16px;
  margin:0 auto;
  a{
    color:#2C2C2C;
    text-decoration: none;
  }
   @include desktop{
     width:75%;
     height:100px;
     background:#4263AB;
     a{
       margin:auto auto;
       color:white;
       font-size: 20px;
     }
   }
}

.news-date{
  display:none;
  @include desktop{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100px;
  width:25%;
  margin:0 auto;
  background:#4263AB;
  border-right:3px solid white;
  color:white;
  font-size:24px;
  font-weight: bold;
  padding:30px;
  }
}

.news-body{
  font-size:14px;
  font-family:"worksans"
}

.news-url{
 padding:20px;
}

.news-articles{
  margin:0;
  padding:0;
  @include desktop{
    .news-single:nth-child(even) {
      display:flex;
      flex-flow:row nowrap;
      .news-details{
          border-right: 1px solid lightgray;
          border-radius:0 0 20px 0;
      }
      img{
        border-radius:0 0 0 40px;
      }
    }
  
  
      .news-single:nth-child(odd) {
      display:flex;
      flex-flow:row-reverse nowrap;
      .news-details{
          border-left: 1px solid lightgray;
          border-radius:0 0 0 20px;
      }
      img{
        border-radius:0 0 40px 0;
      
      }
    }
  }
}




.prefooter{
  height:395px;
  margin-top: 50px;
  background:#00277E;  
  h2{
   color:white;
   padding-top:30px;
  } 
  p{
   color:white;
   font-size:20px;
  }
}

.pre-footer button{
  background-color:#4263AB;
}

.fit-button{
  height: 50px;
  width: 150px;
  font-family: $font__heading;
  font-size: $heading__h3;
  font-weight: normal;
  font-style: normal;
}

.prefooter-contact-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include desktop{
    flex-direction: row;
  }
}

.prefooter-contact, .prefooter-address{
  display: flex;
  flex-direction: column;
  @include desktop{
    padding-right:12rem;
  }
}
