/* About page */
.about-content {
  
  @include desktop {
    .need, .philosophy, .brief-history {
      height: 350px;
  
      h2 {
        margin-top: 0;
        padding-top: 50px;
      }
    }
  }
  
  .need {
    h2{
      color: $color__grey-dark;
      font-family: $font__heading;
    }
  }

  .philosophy {
    width:100%;
    color: #FFF;
    
    h2{
      color:#FFF;
    }
    p {
      width:100%;
	  }
  }

  .brief-history {
    padding: 4rem 0 4rem 0;
  }

  .content-area{
    ul{
      margin: 0;
      padding: 1.8571428571rem 0;
      list-style: none;
    }
  }

  .leadership {
    .section-heading {
      background: $color__blue-dark;
      color: #fff;
      display: flex;
      flex-direction: column;
      h2 {
        margin-top: 50px;
        margin-bottom: 0;
        color: #fff;
      }
      h4 {
        margin-left: 2rem;
        margin-top: 0;
        @include desktop {
          margin-left: 17.4rem;   
          font-weight: 300;       
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;
      li {
        flex-basis: 100%;
        @include tablet {
          flex-basis: 50%;
        }
      }
    }
  }

  .leadership-image-wrapper {
    height: 5.7rem;
    width: 5.7rem;
    overflow: hidden;
    border-radius: 50%;
    img {
      max-height: 100%;
      height: auto;
      max-width: 100%;
      width: auto;
    }
  }

  .leadership ul {
    
    @include desktop {
      margin: 0;
      padding: 20px 0;
    }
  }

  .leader {
    margin: 0.6428571429rem 0;
    display: flex;
    justify-content: space-around;
    .image-wrapper{
      height: 5.7rem;
      width: 5.7rem;
      overflow: hidden;
      border-radius: 50%;
      align-self: start;
      margin-top: 1rem;
      @include desktop {
        height: 10rem;
        width: 10rem;
      }
      img{
        min-height: 100%;
        min-width: 100%;
      }
    }
    .text-wrapper{
      flex-basis: 60%;
      font-size: 0.8571428571rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      @include tablet {
        justify-content: flex-start;
      }
      p{
        margin: 0.5rem 0;
      }
    }
    .leader-name{
      color: $color__grey-dark;
      font-weight: 600;
      font-size: 1.2rem;
      margin: 0 !important;
      @include tablet {
        font-weight: 500;
        font-size: 1.75rem;
        font-family: $font__heading;
      }   
    }
    .leader-title {
      color: $color__grey-dark;
      margin: 0 !important;
      font-weight: 500;  
      @include tablet {
        font-size: 1.25rem;
        font-family: $font__heading;
      }    
    }
  }

  ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
    -webkit-padding-start: 0;

    @include desktop {
      display: initial;
    }

    .image-wrapper {
      
      @include tablet {
        display: flex;
        align-items: center;
        border-radius: 10px 0px 0px 50px;
        background: #2C2C2C;
        width: 20%;
        height: 100%;
        justify-content: center;
      }
      @include desktop {
        min-height: 12rem;
      }
    }

    i {
      color: #FFF;
      font-size: 4.5rem;
      @include desktop {
        font-size: 6rem;
      }
		}

		.text-wrapper {
      width: 100%;
      padding: 0.5rem;
      align-self: flex-start;

      @include desktop {
        padding: 1rem;

        .report-description {
          height: 50%;
        }
      }

      p, .report-link {
        margin: 0;
        padding: 0.1rem 0;
        font-size: $heading__h4;
        
        @include desktop {
          padding: 0.5rem 0;
          font-size: $desktop__p;
        }
      }

      .report-title {
        font-size: 1rem;
        font-weight: bold;

        @include desktop {
          font-size: $desktop__h3;
        }
      }

      .report-link {
        color: $color__heading-red;
        display: block;
        font-weight: bold;
        text-align: right;
        text-decoration: none;

        @include desktop {
          text-align: left;
        }
      }
    }
    
		li {
			display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;

      @include desktop {
        margin: 40px auto;
      }
		}
	}

}

.reports, .find-us {
	.section-heading {
    display: none;

    @include desktop {
      display: initial;
      h2 {
        color: #fff;
        font-family: $font__heading;
      }
    }
  }
}

.find-us {
	.section-heading {
		background: $color__red-medium;
	}
}

.reports .section-heading {
  background: $color__grey-dark;
}

.report-item {
  min-height: 7rem;
  border: 1px solid lightgrey;
  border-radius: 10px 10px 10px 25px;
  box-shadow: 0px 4px 4px 0px lightgrey;  
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include tablet {
    border-radius: 10px 10px 10px 50px;    
  }
}

#about-history-wrapper {
  padding-top: 1rem;
  h2 {
    font-family: $font__heading;
    font-weight: 600;
  }

  @include desktop {
    padding-top: none;
  }
}

.philosophy-header-desktop {
  display: none;
  @include desktop {
    display: initial;
    font-family: $font__main;
    font-weight: bold;
  }
}

.philosophy-content-wrapper {
  @include desktop {
    margin-top: 4rem;    
  }
}

.about-leadership-heading {
  padding-left: 2rem;
  font-family: $font__main;
  font-weight: bold;
  @include desktop {
    padding-left: initial;
  }
}

.about-header {
  @include desktop {
    font-style: normal;
    font-weight: bold;
    font-size: $desktop__h2;
  }

}