#calendar h2 {
  @include desktop {
    margin-left: 17.428571429rem;
  }
}
.programs-title{
    background-image:  linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%),
    url('../../assets/images/jack-min.png');
}  
.program-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .section-heading {
    display: none;

    @include desktop {
      display: initial;
    }

    h3 {
      color: #FFF;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}

.program-checkout {
  width: 100%;
  background: $color__blue-dark;

  h2 {
    padding-left: 2.2em; //to match accordion heading
    color: white;
    font-size: 1.4285714286rem;
    font-weight: 500;
    text-transform: uppercase;

    @include desktop {
      margin: 0;
      padding: 0;
      font-size: 3.4285714286rem;
      font-weight: 600;
    }
  }

  p {
    font-size: 1.7142857143rem;
    color: white;
  }

  @include desktop {
    padding: 3.5714285714rem 15.714285714rem 3.5714285714rem 17.428571429rem; //content-wrapper
  }

}

.programs-list {
  margin: 0.5rem 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  @include desktop {
    width: 100%;
    padding: $content-wrapper-desktop;
  }

  li {
    height: 7.8571428571rem;
    margin-bottom: 0.5rem;
    flex-basis: 49%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    text-align: center;

    @include desktop {
      height: 23.357142857rem;
      margin-bottom: 1.7142857143rem;
      flex-basis: 48.5%;
    }

    a {
      position: relative;
      display: block;

      @include desktop {
        height: 100%;
      }
    }

    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .wp-post-image {
      position: relative;
      max-width: 150%;
      width: auto;
      height: auto;

      @include desktop {
        min-height: 100%;
      }
    }

    .program-name {
      right: 15%;
      top: 0;
      padding-top: 1rem;
      position: absolute;
      width: 70%;
      
      color: #FFF;
      font-family: $font__main;
      font-size: 1rem;
      z-index: 2;

      @include desktop {
        height: 91px;
        margin: 0;
        padding: 1rem;
        width: 80%;
        font-size: 1.4285714286rem;
      }
    }

    .program-logo {
      position: absolute;
      z-index: 3;
    }
  }
}

.education-heading h3 {
  background: $color__blue-medium;
}

.education-list {
  li {
    @include desktop {
      border-radius: 0 0 0 90px;
    }
  }

  .gradient {
    background: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);

    @include desktop {
      background:rgba(163,166,216,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);
      }
    }
  }

  .program-logo {
    bottom: 0;
    left: 0;
  }

  li {
    .program-name {
      @include desktop {
        top: auto;
        bottom: 0;
        right: 0;
        background: $color__blue-dark;
      }
    }
  }

}

.personal-heading h3 {
  background: $color__red-medium;
}

.personal-list {

  li {
    @include desktop {
      border-radius: 0 90px 0 0;
    }
  }

  .gradient {
    background: linear-gradient(to bottom,rgba(167,0,0,0.7) 0%, rgba(167,0,0,0.7) 100%);

    @include desktop {
      background: rgba(234,153,152,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(167,0,0,0.7) 0%, rgba(167,0,0,0.7) 100%);
      }
    }
  }

  .program-logo {
    top: 0;
    right: 0;
  }

  li {
    .program-name {
      @include desktop {
        top: 0;
        left: 0;
        right: auto;
        background: $color__red-dark;
      }
    }
  }
}

.live-in-heading h3 {
  background: $color__grey-dark;
}

.live-in-list {

  li {
    @include desktop {
      border-radius: 90px 0 0 0;
    }
  }

  .gradient {
    background: linear-gradient(to bottom,rgba(74,74,74,0.7) 0%, rgba(74,74,74,0.7) 100%);

    @include desktop {
      background: rgba(198,194,200,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(74,74,74,0.7) 0%, rgba(74,74,74,0.7) 100%);
      }
    }
  }

  .program-logo {
    top: 0;
    left: 0;
  }

  li {
    .program-name {
      @include desktop {
        right: 0;
        background: #000;
      }
    }
  }

}

.sports-heading h3 {
  background: $color__yellow-dark;
}

.sports-list {

  li {
    @include desktop {
      border-radius: 0 0 90px 0;
    }
  }

  .gradient {
    background: linear-gradient(to bottom,rgba(181,167,0,0.7) 0%, rgba(181,167,0,0.7) 100%);

    @include desktop {
      background: rgba(255,249,214,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(181,167,0,0.7) 0%, rgba(181,167,0,0.7) 100%);
      }
    }
  }

  .program-logo {
    bottom: 0;
    right: 0;
  }

  li {
    .program-name {
      @include desktop {
        left: 0;
        bottom: 0;
        top: auto;
        background: $color__yellow-dark;
      }
    }
  }

}

/* Single Program page */

.single-program {
  .header-wrapper {
    padding-top: 0.714286rem;
    background: $color__blue-dark;

    h1 {
      font-size: 1.7142857143rem;
      width: 85%;
      margin: 0 auto;

      @include desktop {
        padding-left: 50px;
        margin-bottom: 0;
        width: 100%;
        font-size: 3.4285714286rem;
      }
    }

    @include desktop {
      padding: 0;
      background:
        linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%),
        url('../../assets/images/julie.png') center / cover no-repeat;
      }
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-content {

    p {
      @include desktop {
        font-size: $desktop__main;
        line-height: 2.2857142857rem;
      }
    }

    a {
      font-weight: 600;
      text-decoration: none;

      @include desktop {
        font-size: $desktop__main;
      }
    }
  }

  .program-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      padding: $content-wrapper-desktop;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .content-wrapper {
        width: 100%;
        padding: 0;
      }
    }

    h3 {
      color: $color__grey-dark;
    }

    .program-image {
      background: rgba(74,74,74,0.7);
      overflow: hidden;
      height: 12.071428571rem;

      img {
        z-index: -1;
        position: relative;
      }

      @include desktop {
        height: 100%;
        flex-basis: 48%;
        background: none;

        img {
          border-radius: 0 0 0 90px;
        }
      }
    }

    .program-activities {

      ul {
        margin: 0;
        padding: 0 1rem;
      }

      li {
        padding: 0.5rem 0;
      }

      @include desktop {
        flex-basis: 48%;
      }

    }

  } // end program body

  .image-carousel {
    width: 100%;
  }

}