.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-heading {
    display: none;

    @include desktop {
      display: initial;
    }
  }
}

.programs-list {
  margin: 0.5rem 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  @include desktop {
    width: 100%;
    padding: 0 15.714285714rem 0 17.428571429rem;
  }

  li {
    height: 7.8571428571rem;
    margin-bottom: 0.5rem;
    flex-basis: 49%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    text-align: center;

    @include desktop {
      height: 23.357142857rem;
      margin-bottom: 1.7142857143rem;
      flex-basis: 48.5%;
    }

    a {
      position: relative;
      display: block;

      @include desktop {
        height: 100%;
      }
    }

    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .wp-post-image {
      position: relative;
      max-width: 150%;
      width: auto;
      height: auto;

      @include desktop {
        min-height: 100%;
      }
    }

    .program-name {
      right: 15%;
      top: 0;
      padding-top: 1rem;
      position: absolute;
      width: 70%;
      
      color: #FFF;
      font-family: $font__main;
      font-size: 1rem;
      z-index: 2;

      @include desktop {
        font-size: 1.4285714286rem;
      }
    }

    .program-logo {
      position: absolute;
      z-index: 3;
    }
  }
}

.education-list {
  li {
    @include desktop {
      border-radius: 0 0 0 90px;
    }
  }

  .gradient {
    background: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);

    @include desktop {
      background:rgba(163,166,216,0.7);

      &:hover {
        background: linear-gradient(to bottom,rgba(66,99,171,0.7) 0%, rgba(66,99,171,0.7) 100%);
      }
    }
  }

  .program-logo {
    bottom: 0;
    left: 0;
  }

  li {
    .program-name {
      @include desktop {
        top: auto;
        bottom: 0;
        right: 0;
        height: 91px;
        width: 80%;
        margin: 0;
        background: $color__blue-dark;
      }
    }
  }

}

.personal-list {
  .gradient {
    background: linear-gradient(to bottom,rgba(167,0,0,0.7) 0%, rgba(167,0,0,0.7) 100%);
  }
}

.live-in-list {
  .gradient {
    background: linear-gradient(to bottom,rgba(74,74,74,0.7) 0%, rgba(74,74,74,0.7) 100%);
  }
}

.sports-list {
  .gradient {
    background: linear-gradient(to bottom,rgba(181,167,0,0.7) 0%, rgba(181,167,0,0.7) 100%);
  }
}

/* Single Program page */

.single-program {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-content a {
    font-weight: 600;
    text-decoration: none;
  }

  .program-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: $color__grey-dark;
    }

    .program-activities {
      order: 2;

      ul {
        margin: 0;
        padding: 0;
      }
    }
    
    .program-image {
      background: rgba(74,74,74,0.7);
      overflow: hidden;
      height: 12.071428571rem;

      img {
        z-index: -1;
        position: relative;
      }
    }

    .program-image:nth-child(1) {
      order: 1;
    }

    .program-image:nth-child(2) {
      order: 3;
    }

    .program-involvement {
      order: 4;
    }

  }
}