/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

#secondary .menu-primary-menu-container {
	position: absolute;
	left: 0;
	// top: 0;
}

.fixed-sidebar {
	position: fixed;
}

.sidebar-menu-container {
  padding: 0;
	display: flex;
  flex-direction: column;
  justify-content: space-around;
	background: white;

	.menu-item a {
		padding: 0.7142857143rem;
		
		a {
			text-decoration: none;
			text-transform: uppercase;
		}

	}

}

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
