/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* Sidebar nav menu */
#secondary .menu-primary-menu-container {
	position: absolute;
	left: 0;
}

.fixed-sidebar {
	position: fixed;
	top: 0;
}

.sidebar-menu-container {
	margin: 0;
  padding: 0;
	width: 15.714285714rem;

	display: flex;
  flex-direction: column;
  justify-content: space-around;
	background: white;
	border-radius: 0 0 10px 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  list-style: none;

	.menu-item {
		padding: 0.7142857143rem;
		border-top: 1px solid $color__blue-medium;
		
		a {
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.menu-item:first-child {
		border-top: none;
	}

}

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
